.blue {
  background-color: #34b4eb;
}
.mauve {
  background-color: #eb346b;
}
.taupe {
  background-color: #6b6040;
}
.plum {
  background-color: #916183;
}
.purple {
  background-color: #591173;
}
.mint {
  background-color: #49b3b3;
}
.green {
  background-color: #076b5a;
}
.lilac {
  background-color: #804ec7;
}
.blue-steel {
  background-color: #646d73;
}
.gold {
  background-color: #f2c041;
}
